<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RequestTimeoutInterval</key>
	<integer>30</integer>
	<key>ResourceTimeoutInterval</key>
	<integer>60</integer>
</dict>
</plist>
